{{#if removedProduct}}
<!-- EJS -->
<div class="alert alert-success alert-dismissible fade show" role="alert">
  Food item has been removed.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<div class="row pb-2">
  <div class="col-6">
    <h3>Categories</h3>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <div>
      <a href="/addcategory" type="button" class="btn btn-success btn-small"><i class="bi bi-diamond"></i> Add
        Category</a>
    </div>
  </div>
</div>

<table class="table table-bordered table-striped">

  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Image alternative text</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>

  <tbody>

    {{#each rows}}
    <tr>
      <th scope="row">{{this.category_id}}</th>
      <td class="text-center align-middle"><img style="width: 80px; height: 100px;" src="categ_images/{{this.category_image_link}}" alt="{{this.category_alt}}"></td>
      <td class="text-center align-middle">{{this.category_name}}</td>
      <td class="text-center align-middle">{{this.category_desc}}</td>
      <td class="text-center align-middle">{{this.category_alt}}</td>
      <td class="text-center align-middle">
        <a href="/editcategory/{{this.category_id}}" type="button" class="btn btn-primary btn-small"><i
            class="bi bi-pencil"></i> Edit</a>
        <a onclick="if (!confirm('Do you really want to delete {{this.category_name}}?')) return false"
          href="/deletecategory/{{this.category_id}}" type="button" class="btn btn-danger btn-small"><i
            class="bi bi-trash"></i> Delete</a>
        {{/each}}

  </tbody>
</table>